# Period and PeriodIndex

In [2]:
import pandas as pd

y=pd.Period("2021")
y

Period('2021', 'A-DEC')

In [4]:
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [5]:
y.start_time

Timestamp('2021-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2021-12-31 23:59:59.999999999')

In [7]:
m=pd.Period("2021-1",freq="M")

In [8]:
m.start_time

Timestamp('2021-01-01 00:00:00')

In [9]:
m.end_time

Timestamp('2021-01-31 23:59:59.999999999')

In [10]:
m+1

Period('2021-02', 'M')

In [11]:
m+12

Period('2022-01', 'M')

In [12]:
d=pd.Period("2021-02-28",freq="D")

In [13]:
d

Period('2021-02-28', 'D')

In [14]:
d+1

Period('2021-03-01', 'D')

In [15]:
h=pd.Period("2021-02-28 23:00:00",freq="H")

In [16]:
h

Period('2021-02-28 23:00', 'H')

In [18]:
h.start_time

Timestamp('2021-02-28 23:00:00')

In [19]:
h.end_time

Timestamp('2021-02-28 23:59:59.999999999')

In [20]:
h+1

Period('2021-03-01 00:00', 'H')

In [21]:
h-6

Period('2021-02-28 17:00', 'H')

In [22]:
h+pd.offsets.Hour(5)

Period('2021-03-01 04:00', 'H')

In [24]:
q=pd.Period("2021Q1")
q

Period('2021Q1', 'Q-DEC')

In [25]:
q+1

Period('2021Q2', 'Q-DEC')

In [30]:
q=pd.Period("2021Q1",freq="Q-JAN")
q

Period('2021Q1', 'Q-JAN')

In [27]:
q.start_time

Timestamp('2020-02-01 00:00:00')

In [28]:
q.end_time

Timestamp('2020-04-30 23:59:59.999999999')

In [29]:
q.asfreq("M",how="end")

Period('2020-04', 'M')

In [31]:
q2=pd.Period("2022Q2",freq="Q-JAN")
q2

Period('2022Q2', 'Q-JAN')

In [32]:
q2-q

## PeriodIndex

In [4]:
idx= pd.period_range("2015","2022",freq="Q")
idx

PeriodIndex(['2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4',
             '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2',
             '2019Q3', '2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4',
             '2021Q1', '2021Q2', '2021Q3', '2021Q4', '2022Q1'],
            dtype='period[Q-DEC]')

In [6]:
idx= pd.period_range("2015","2022",freq="Q-JAN")
idx

PeriodIndex(['2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3',
             '2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4', '2020Q1',
             '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2', '2021Q3',
             '2021Q4', '2022Q1', '2022Q2', '2022Q3', '2022Q4'],
            dtype='period[Q-JAN]')

In [7]:
idx[0].start_time

Timestamp('2014-11-01 00:00:00')

In [8]:
idx[0].end_time

Timestamp('2015-01-31 23:59:59.999999999')

In [9]:
idx= pd.period_range("2015",periods=10,freq="Q-JAN")
idx

PeriodIndex(['2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1'],
            dtype='period[Q-JAN]')

In [11]:
import numpy as np 
ps= pd.Series(np.random.randn(len(idx)),idx)
ps

2015Q4   -2.106072
2016Q1    1.043773
2016Q2    0.414510
2016Q3   -1.290427
2016Q4   -0.250775
2017Q1    1.401136
2017Q2    1.262685
2017Q3   -0.049504
2017Q4   -0.784833
2018Q1   -2.959177
Freq: Q-JAN, dtype: float64

In [12]:
ps.index

PeriodIndex(['2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1'],
            dtype='period[Q-JAN]')

In [13]:
ps['2017']

2017Q4   -0.784833
2018Q1   -2.959177
Freq: Q-JAN, dtype: float64

In [14]:
ps["2015":"2017"]

2015Q4   -2.106072
2016Q1    1.043773
2016Q2    0.414510
2016Q3   -1.290427
2016Q4   -0.250775
2017Q1    1.401136
2017Q2    1.262685
2017Q3   -0.049504
2017Q4   -0.784833
2018Q1   -2.959177
Freq: Q-JAN, dtype: float64

In [16]:
pst=ps.to_timestamp()
pst

2014-11-01   -2.106072
2015-02-01    1.043773
2015-05-01    0.414510
2015-08-01   -1.290427
2015-11-01   -0.250775
2016-02-01    1.401136
2016-05-01    1.262685
2016-08-01   -0.049504
2016-11-01   -0.784833
2017-02-01   -2.959177
Freq: QS-NOV, dtype: float64

In [17]:
pst.index

DatetimeIndex(['2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01', '2017-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [18]:
pst.to_period()

2014Q4   -2.106072
2015Q1    1.043773
2015Q2    0.414510
2015Q3   -1.290427
2015Q4   -0.250775
2016Q1    1.401136
2016Q2    1.262685
2016Q3   -0.049504
2016Q4   -0.784833
2017Q1   -2.959177
Freq: Q-DEC, dtype: float64

In [19]:
ndf=pd.read_csv("WMT.csv")
ndf

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [21]:
ndf.set_index("Line Item",inplace=True)
ndf

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [23]:
ndf =ndf.T
ndf

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [25]:
ndf.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [28]:
ndf.index =pd.PeriodIndex(ndf.index, freq="Q-JAN")
ndf.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [30]:
ndf["start date"]=ndf.index.map(lambda x:x.start_time)
ndf

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [32]:
ndf["end date"]=ndf.index.map(lambda x: x.end_time)
ndf

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999

## What is Lambda Function also called anonymous function a function with no name

In [33]:
def addition(a,b):
    return a+b

In [34]:
addition(4,5)

9

In [35]:
addition= lambda a,b:a+b

In [36]:
addition(12,14)

26

In [37]:
even =lambda a:a%2==0

In [38]:
even(10)

True

In [39]:
even(11)

False

In [40]:
def addition(x,y,z):
    return x+y+x

In [41]:
addition(2,3,4)

7

In [42]:
addition= lambda x,y,z:x+y+z

In [43]:
addition(10,20,30)

60

## Map function in python

In [47]:
def even_or_odd(num):
    if num%2==0:
        return "The number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [48]:
even_or_odd(10)

'The number 10 is Even'

In [49]:
even_or_odd(21)

'The number 21 is Odd'

In [50]:
lst= [1,2,3,4,5,6,7,8,9,10,11,67,89,99]

In [52]:
list(map(even_or_odd,lst))

['The number 1 is Odd',
 'The number 2 is Even',
 'The number 3 is Odd',
 'The number 4 is Even',
 'The number 5 is Odd',
 'The number 6 is Even',
 'The number 7 is Odd',
 'The number 8 is Even',
 'The number 9 is Odd',
 'The number 10 is Even',
 'The number 11 is Odd',
 'The number 67 is Odd',
 'The number 89 is Odd',
 'The number 99 is Odd']