In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("TSLA.csv",parse_dates=["Date"])
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-06-24,674.989990,697.619995,667.609985,679.820007,679.820007,45982400
1,2021-06-25,689.580017,693.809998,668.700012,671.869995,671.869995,32496700
2,2021-06-28,671.640015,694.700012,670.320007,688.719971,688.719971,21628200
3,2021-06-29,684.650024,687.510010,675.890015,680.760010,680.760010,17381300
4,2021-06-30,679.770020,692.809998,678.140015,679.700012,679.700012,18924900

In [4]:
df= df.drop("Date",axis=1)
df.head()

         Open        High         Low       Close   Adj Close    Volume
0  674.989990  697.619995  667.609985  679.820007  679.820007  45982400
1  689.580017  693.809998  668.700012  671.869995  671.869995  32496700
2  671.640015  694.700012  670.320007  688.719971  688.719971  21628200
3  684.650024  687.510010  675.890015  680.760010  680.760010  17381300
4  679.770020  692.809998  678.140015  679.700012  679.700012  18924900

In [14]:
len(df.Open)

253

In [5]:
rng =pd.date_range(start="24-06-2021",end="24-06-2022",freq="B") #B means business days , C means custom string
rng

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3369: UserWarning: Parsing '24-06-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3369: UserWarning: Parsing '24-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

DatetimeIndex(['2021-06-24', '2021-06-25', '2021-06-28', '2021-06-29',
               '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-05',
               '2021-07-06', '2021-07-07',
               ...
               '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16',
               '2022-06-17', '2022-06-20', '2022-06-21', '2022-06-22',
               '2022-06-23', '2022-06-24'],
              dtype='datetime64[ns]', length=262, freq='B')

In [6]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [7]:
usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [20]:
rng =pd.date_range(start="23-06-2021",end="27-06-2022",freq=usb) #B means business days , C means custom string
rng

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3369: UserWarning: Parsing '27-06-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

DatetimeIndex(['2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02',
               '2021-07-06', '2021-07-07',
               ...
               '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16',
               '2022-06-17', '2022-06-21', '2022-06-22', '2022-06-23',
               '2022-06-24', '2022-06-27'],
              dtype='datetime64[ns]', length=253, freq='C')

In [21]:
df.set_index(rng,inplace=True)

In [23]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
2021-06-23,674.989990,697.619995,667.609985,679.820007,679.820007,45982400
2021-06-24,689.580017,693.809998,668.700012,671.869995,671.869995,32496700
2021-06-25,671.640015,694.700012,670.320007,688.719971,688.719971,21628200
2021-06-28,684.650024,687.510010,675.890015,680.760010,680.760010,17381300
2021-06-29,679.770020,692.809998,678.140015,679.700012,679.700012,18924900

In [30]:
from pandas.tseries.holiday import AbstractHolidayCalendar,nearest_workday,Holiday
class mybirthdayCalender(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("Jas's Birthday", month=7, day=28 , observance=nearest_workday),
      
    ]
myc=CustomBusinessDay(calendar=mybirthdayCalender())
myc

In [31]:
pd.date_range(start="7/7/2022",end="7/30/2022",freq=myc)

DatetimeIndex(['2022-07-07', '2022-07-08', '2022-07-11', '2022-07-12',
               '2022-07-13', '2022-07-14', '2022-07-15', '2022-07-18',
               '2022-07-19', '2022-07-20', '2022-07-21', '2022-07-22',
               '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-29'],
              dtype='datetime64[ns]', freq='C')

In [35]:
b=CustomBusinessDay(weekmask="Sun Mon Tue Wed Thu", holidays=["2022-07-10"])
pd.date_range(start="7/7/2022",end="7/30/2022",freq=b)

DatetimeIndex(['2022-07-07', '2022-07-11', '2022-07-12', '2022-07-13',
               '2022-07-14', '2022-07-17', '2022-07-18', '2022-07-19',
               '2022-07-20', '2022-07-21', '2022-07-24', '2022-07-25',
               '2022-07-26', '2022-07-27', '2022-07-28'],
              dtype='datetime64[ns]', freq='C')