### Date and time in pandas

In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("TSLA.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-06-24,674.989990,697.619995,667.609985,679.820007,679.820007,45982400
1,2021-06-25,689.580017,693.809998,668.700012,671.869995,671.869995,32496700
2,2021-06-28,671.640015,694.700012,670.320007,688.719971,688.719971,21628200
3,2021-06-29,684.650024,687.510010,675.890015,680.760010,680.760010,17381300
4,2021-06-30,679.770020,692.809998,678.140015,679.700012,679.700012,18924900

In [25]:
type(df.Date)

pandas.core.series.Series

In [29]:
pd.to_datetime(df.Date)

0     2021-06-24
1     2021-06-25
2     2021-06-28
3     2021-06-29
4     2021-06-30
         ...
248   2022-06-17
249   2022-06-21
250   2022-06-22
251   2022-06-23
252   2022-06-24
Name: Date, Length: 253, dtype: datetime64[ns]

In [35]:
dates=["2022-01-05 2:30:00 PM","jan 5, 2022 14:30:00","01/05/2022","2022.01.05","20220105"]

In [36]:
pd.to_datetime(dates)

DatetimeIndex(['2022-01-05 14:30:00', '2022-01-05 14:30:00',
               '2022-01-05 00:00:00', '2022-01-05 00:00:00',
               '2022-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [37]:
pd.to_datetime('5/1/2017',dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [38]:
pd.to_datetime('5$1$2017',format="%d$%m$%Y")

Timestamp('2017-01-05 00:00:00')

In [41]:
dates=["2022-01-05 2:30:00 PM","jan 5, 2022 14:30:00","01/05/2022","2022.01.05","20220105",'abc']
pd.to_datetime(dates,errors="ignore")

Index(['2022-01-05 2:30:00 PM', 'jan 5, 2022 14:30:00', '01/05/2022',
       '2022.01.05', '20220105', 'abc'],
      dtype='object')

In [42]:
dates=["2022-01-05 2:30:00 PM","jan 5, 2022 14:30:00","01/05/2022","2022.01.05","20220105",'abc']
pd.to_datetime(dates,errors="coerce")

DatetimeIndex(['2022-01-05 14:30:00', '2022-01-05 14:30:00',
               '2022-01-05 00:00:00', '2022-01-05 00:00:00',
               '2022-01-05 00:00:00',                 'NaT'],
              dtype='datetime64[ns]', freq=None)

### Epoch(unix time) is number of seconds that have passed  since Jan 1,1970 00:00:00 UTC

In [45]:
t=1656361317
pd.to_datetime(t,unit="s")

Timestamp('2022-06-27 20:21:57')

In [47]:
dt= pd.to_datetime([t],unit="s")
dt

DatetimeIndex(['2022-06-27 20:21:57'], dtype='datetime64[ns]', freq=None)

In [48]:
dt.view('int64')

array([1656361317000000000], dtype=int64)