# Toronto Weather analyze during month of April 2022

# Basics of Dataframe in Pandas

Dataframe is a main object in Pandas. It is used to represent data with rows and columns(tabular or excel spreadsheet like data)

List of Topics covered in this is
1. Creadting dataframe
2. Dealing with rows and columns
3. Operations:min,max,std,describe
4. conditional selection
5. set_index

Example of dataframe example is blow

In [2]:
import pandas as pd
df=pd.read_csv('C:\pyCode\TorontoWeather.csv')

In [25]:
df.head(3)

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),Temp (°C),...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 0:00,2022,4,1,0:00,3.5,...,0,0.0,M,97.64,0.0,0.0,0.0,0.0,0.0,0.0
1,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 1:00,2022,4,1,1:00,2.8,...,0,0.0,M,97.66,0.0,0.0,0.0,0.0,0.0,0.0
2,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 2:00,2022,4,1,2:00,2.4,...,0,0.0,M,97.64,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df['Temp (°C)'].max()

20.1

In [54]:
df[['Date/Time (LST)','Temp (°C)']][df['Wind Spd Flag']=='M']

    Date/Time (LST)  Temp (°C)
292  4/13/2022 4:00        8.6

In [55]:
df[['Date/Time (LST)','Temp (°C)']][df['Temp (°C)']>=19]

     Date/Time (LST)  Temp (°C)
303  4/13/2022 15:00       20.1
304  4/13/2022 16:00       19.2

In [19]:
df['Temp (°C)'].mean()

6.136111111111105

In [20]:
df.fillna(0,inplace=True)

In [26]:
df.head(3)

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),Temp (°C),...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 0:00,2022,4,1,0:00,3.5,...,0,0.0,M,97.64,0.0,0.0,0.0,0.0,0.0,0.0
1,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 1:00,2022,4,1,1:00,2.8,...,0,0.0,M,97.66,0.0,0.0,0.0,0.0,0.0,0.0
2,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 2:00,2022,4,1,2:00,2.4,...,0,0.0,M,97.64,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
df.head(5)

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),Temp (°C),...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 0:00,2022,4,1,0:00,3.5,...,0,0.0,M,97.64,0.0,0.0,0.0,0.0,0.0,0.0
1,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 1:00,2022,4,1,1:00,2.8,...,0,0.0,M,97.66,0.0,0.0,0.0,0.0,0.0,0.0
2,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 2:00,2022,4,1,2:00,2.4,...,0,0.0,M,97.64,0.0,0.0,0.0,0.0,0.0,0.0
3,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 3:00,2022,4,1,3:00,2.2,...,0,0.0,M,97.68,0.0,0.0,0.0,0.0,0.0,0.0
4,-79.37,43.86,TORONTO BUTTONVILLE A,6158409,4/1/2022 4:00,2022,4,1,4:00,1.8,...,0,0.0,M,97.69,0.0,0.0,0.0,0.0,0.0,0.0

#### Different ways of creating dataframe

1. Using CSV
2. Using Excel
3. From python dictionary
4. From list of tuples
5. From list of dictionaries

#### 3.python dictionary method

In [79]:
weather_data={
    'day':['1/1/2022/','1/2/2022','1/3/2022','1/4/2022'],
    'temp': [8,9,10,7],
    'windspeed':[6,7,8,5],
    'event': ['rain','snow','rain','sunny']
}
new_df = pd.DataFrame(weather_data)
new_df

         day  temp  windspeed  event
0  1/1/2022/     8          6   rain
1   1/2/2022     9          7   snow
2   1/3/2022    10          8   rain
3   1/4/2022     7          5  sunny

In [33]:
new_df.shape

(4, 4)

In [37]:
rows,columns =new_df.shape

In [38]:
rows

4

In [40]:
columns

4

In [41]:
new_df.head()

         day  temp  windspeed  event
0  1/1/2022/     8          6   rain
1   1/2/2022     9          7   snow
2   1/3/2022    10          8   rain
3   1/4/2022     7          5  sunny

In [42]:
new_df.head(2)

         day  temp  windspeed event
0  1/1/2022/     8          6  rain
1   1/2/2022     9          7  snow

In [43]:
new_df.tail(2)

        day  temp  windspeed  event
2  1/3/2022    10          8   rain
3  1/4/2022     7          5  sunny

In [45]:
new_df[2:4]

        day  temp  windspeed  event
2  1/3/2022    10          8   rain
3  1/4/2022     7          5  sunny

In [47]:
new_df[:]

         day  temp  windspeed  event
0  1/1/2022/     8          6   rain
1   1/2/2022     9          7   snow
2   1/3/2022    10          8   rain
3   1/4/2022     7          5  sunny

In [48]:
new_df.columns

Index(['day', 'temp', 'windspeed', 'event'], dtype='object')

In [49]:
new_df.day

0    1/1/2022/
1     1/2/2022
2     1/3/2022
3     1/4/2022
Name: day, dtype: object

In [50]:
new_df.temp

0     8
1     9
2    10
3     7
Name: temp, dtype: int64

In [51]:
type(new_df['event'])

pandas.core.series.Series

In [52]:
new_df[['event','day']]

   event        day
0   rain  1/1/2022/
1   snow   1/2/2022
2   rain   1/3/2022
3  sunny   1/4/2022

In [57]:
new_df["temp"].std()   #standard deviation

1.2909944487358056

In [58]:
new_df.describe()

            temp  windspeed
count   4.000000   4.000000
mean    8.500000   6.500000
std     1.290994   1.290994
min     7.000000   5.000000
25%     7.750000   5.750000
50%     8.500000   6.500000
75%     9.250000   7.250000
max    10.000000   8.000000

In [61]:
new_df[new_df.temp>=8]

         day  temp  windspeed event
0  1/1/2022/     8          6  rain
1   1/2/2022     9          7  snow
2   1/3/2022    10          8  rain

In [62]:
new_df[new_df.temp==new_df.temp.max()]

        day  temp  windspeed event
2  1/3/2022    10          8  rain

In [63]:
new_df['day'][new_df.temp==new_df.temp.max()]

2    1/3/2022
Name: day, dtype: object

In [65]:
new_df[['day','temp']][new_df.temp==new_df.temp.max()]

        day  temp
2  1/3/2022    10

In [66]:
new_df.index

RangeIndex(start=0, stop=4, step=1)

In [80]:
new_df.set_index('day', inplace =True)

In [81]:
new_df

           temp  windspeed  event
day
1/1/2022/     8          6   rain
1/2/2022      9          7   snow
1/3/2022     10          8   rain
1/4/2022      7          5  sunny

In [83]:
new_df.loc['1/3/2022']

temp           10
windspeed       8
event        rain
Name: 1/3/2022, dtype: object

In [85]:
new_df.reset_index(inplace=True)

In [86]:
new_df

         day  temp  windspeed  event
0  1/1/2022/     8          6   rain
1   1/2/2022     9          7   snow
2   1/3/2022    10          8   rain
3   1/4/2022     7          5  sunny