In [2]:
import pandas as pd

In [3]:
from sklearn.datasets import load_digits
digits=load_digits()

In [4]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [7]:
digits.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
df=pd.DataFrame(digits.data,columns=digits.feature_names)
df.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [9]:
df["target"]=digits.target
df.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [10]:
df[df.target==1].head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,target
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
11,0.0,0.0,0.0,0.0,14.0,13.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,13.0,16.0,1.0,0.0,1
21,0.0,0.0,0.0,2.0,16.0,16.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,12.0,15.0,4.0,0.0,1
42,0.0,0.0,0.0,0.0,12.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,16.0,8.0,0.0,0.0,1
47,0.0,0.0,0.0,1.0,11.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,14.0,6.0,0.0,0.0,1

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x=df.drop(["target"],axis="columns")
x.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [18]:
y=df.target
y.head()

0    0
1    1
2    2
3    3
4    4
Name: target, dtype: int32

In [19]:
 X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [20]:
len(X_train)

1437

In [21]:
len(y_train)

1437

In [22]:
len(X_test)

360

In [23]:
from sklearn.svm import SVC

In [29]:
model=SVC()

In [25]:
model.fit(X_train,y_train)

SVC()

In [26]:
model.score(X_test,y_test)

0.9916666666666667

In [27]:
model.predict(X_test)

array([0, 4, 4, 3, 9, 0, 7, 6, 7, 7, 5, 7, 3, 1, 3, 2, 5, 1, 1, 9, 8, 3,
       5, 2, 9, 7, 9, 4, 2, 3, 3, 8, 2, 9, 3, 5, 7, 0, 3, 9, 5, 5, 7, 5,
       1, 6, 5, 4, 2, 4, 0, 6, 8, 8, 7, 1, 2, 4, 2, 0, 6, 8, 1, 9, 1, 1,
       3, 7, 9, 3, 3, 9, 4, 3, 7, 9, 6, 1, 9, 8, 6, 6, 5, 1, 2, 0, 8, 8,
       1, 4, 7, 7, 1, 5, 6, 6, 0, 5, 7, 7, 2, 6, 0, 7, 4, 4, 2, 2, 5, 6,
       3, 6, 1, 1, 0, 0, 4, 4, 2, 6, 8, 0, 1, 6, 0, 8, 6, 5, 1, 7, 1, 7,
       8, 3, 0, 8, 2, 7, 2, 6, 2, 1, 1, 3, 2, 2, 7, 2, 3, 1, 6, 7, 5, 9,
       8, 2, 9, 3, 1, 6, 5, 4, 1, 7, 9, 7, 2, 6, 9, 1, 7, 3, 9, 8, 9, 1,
       8, 3, 3, 6, 3, 0, 5, 9, 9, 3, 4, 6, 4, 5, 4, 8, 2, 0, 8, 8, 4, 9,
       0, 8, 9, 6, 5, 4, 7, 0, 4, 6, 9, 9, 6, 4, 0, 3, 8, 8, 9, 5, 4, 6,
       5, 9, 3, 9, 7, 8, 8, 7, 7, 7, 9, 6, 5, 3, 8, 6, 2, 2, 3, 0, 2, 9,
       3, 3, 8, 2, 7, 0, 0, 1, 9, 9, 0, 1, 3, 9, 3, 3, 7, 0, 1, 4, 1, 2,
       6, 3, 1, 6, 9, 9, 1, 6, 3, 4, 9, 3, 8, 6, 0, 4, 0, 7, 5, 7, 8, 9,
       5, 9, 9, 3, 6, 7, 5, 1, 1, 7, 5, 2, 1, 7, 7, 7, 9, 6, 9, 9, 3, 0,
       4, 6, 4, 1, 2, 8, 5, 7, 7, 3, 2, 9, 1, 5, 4, 8, 4, 0, 2, 8, 9, 1,
       2, 1, 7, 8, 9, 4, 1, 6, 6, 7, 6, 2, 7, 0, 7, 3, 8, 1, 8, 3, 5, 3,
       3, 6, 8, 5, 5, 8, 7, 0])

### Using RBF kernal

In [34]:
rbf_model=SVC(kernel="rbf")

In [31]:
rbf_model.fit(X_train,y_train)

SVC()

In [32]:
rbf_model.score(X_test,y_test)

0.9916666666666667

### Using linear kernal

In [33]:
linear_model = SVC(kernel='linear')
linear_model.fit(X_train,y_train)

SVC(kernel='linear')

In [35]:
linear_model.score(X_test,y_test)

0.9861111111111112

### Changing the value of gamma and C in the model

In [36]:
gamma_model = SVC(gamma=1)
gamma_model.fit(X_train,y_train)

SVC(gamma=1)

In [37]:
gamma_model.score(X_test,y_test)

0.08333333333333333

In [38]:
c_model = SVC(C=10)
c_model.fit(X_train,y_train)

SVC(C=10)

In [39]:
c_model.score(X_test,y_test)

0.9944444444444445

In [40]:
new_model=SVC(gamma=1,C=10,kernel="linear")
new_model.fit(X_train,y_train)

SVC(C=10, gamma=1, kernel='linear')

In [41]:
new_model.score(X_test,y_test)

0.9861111111111112